<div class="main">
  @if (authService.markerUser() == null) {

  <div class="main-btn">
    <a class="main-btn__a" routerLink='/login'>Login</a>
    <a class="main-btn__a" routerLink='/register'>Register</a>
  </div>
  }

  @if (authService.markerUser()) {
  <header>
    <label>Angular Homework</label>
    <div class="header-box">
      <label>Welcome, {{ authService.markerUser()?.username }}!</label>
      <span class="title-logout" (click)="logout()">Logout</span>
    </div>
  </header>
  }

</div>
<router-outlet></router-outlet>
